label{
    color: white;
}
form{
    /*border: 2px solid red;
    border-radius: 0px 90px;*/
    height: 450px;
    width: 500px;
    text-align: center;
    padding: 5px;
    margin-left: 20rem;
}
input,select{
    padding: 10px;
    margin: 5px;
    box-sizing: border-box;
    border-radius: 25px;
    border: none;
    width: 68%;
}
select{
    width: 66%;
}
input[type=submit]{
    border: none;
    width: 66%;
    cursor: pointer;
    margin-top: 10px;
    padding: 10px;
}
